@import "../mixin/triangle";
@import "../color/colors";

ol {
	margin: 0;
	padding: 0;
	list-style: none;
	.comment {
		float: left; /* float containment */
		width: 100%;
		margin: 0 0 2rem 0;
		.comment-meta {
			float: left;
			width: 10rem;
			font-size: 1.2rem;
			text-align: right;
			h4 {
				margin: 0;
				font-size: 100%;
				font-weight: normal;
				line-height: 1;
			}
			& span{
				font-size: 84%;
				color: #666;
			}
		}
	}

	@at-root blockquote{
		position: relative;
		min-height: 6rem;
		margin: 0 0 0 11.2rem;
		padding: 1rem 1.5rem 0.5rem 1.5rem;
		border-top: 1px solid #fff;
		background-color: transparentize($commentsColor, .5);
		word-wrap: break-wrap;
		border-radius: 2rem;

		&:after{
			display: block;
			position: absolute;
			top: 2rem;
			left: -1rem;
			@include triangle(left, 10px, transparentize($commentsColor,.5));
		}

		p{
			font-size: 1.6rem;
			margin: 0;
			padding: 0 0 1rem 0;
		}
	}
}